header{
    display: flex;
    justify-content: space-evenly;
}

header li{
    margin: 1em;
}

header{
    font-family: 'Apple chancery';
}

/* Dit is de home icon. */
header img{
    width: 100%;
}

nav ul{
    display:flex;
    justify-content:center
}

nav ul{
   list-style: none;
}

nav a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
}

text-align{
    justify-content: right 
}

body {
    background-color:#DED3DD;
    text-align: left;
}

*{
    box-sizing: border-box;
}
/* Hiermee regel ik de achtergrond kleur, van links boven licht paars naar rechts onder donker paars */
body{
    background: linear-gradient(to bottom right, #DED3DD, #AC78B5)
}

.home{
    text-align: center;
}
/* Deze section is voor de pagina amethist en het aanpassen van de achtergrond kleur.*/
.tweede{
    background: linear-gradient(to bottom, #ceaccb ,#b381c0)
}
/* Deze section is voor de pagina rozenkwarts en het aanpassen van de achtergrond kleur.*/
.derde{
    background: linear-gradient(to bottom left, #e8c3cd,  #d8a2b2)
}

/* Deze section is voor de pagina bergkristal en het aanpassen van de achtergrond kleur.*/
.vierde{
    background: linear-gradient(to bottom, #f5eff5, #cbcfce) ;
}

.wit{
    background-image: url(https://www.dewarmtesteen.nl/images/detailed/9/Marokkaanse_Bergkristal_geode_XXL_2b.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 30%;
    box-sizing: border-box  
}
/* Hier heb ik display inline gebruikt zodat de tekst en het achtergrond plaatje niet inelkaar komen te staan. */
.wit h1{
    display: inline;
}

/* Deze section zorgt dat de tekst en de afbeelding naast elkaar komen */
.roze{
    background-color: #f0cdd4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 2%;
    margin: 5%;
    border-radius: 5%;
}
/* Dit heb ik gedaan zodat er ruimte is tussen de tekst wat voor meer overzicht zorgt, zie bronnenlijst uitleg font spacing*/
.roze p{
   line-height:2em; 
   margin-bottom:2.2em;
}

/* Hier heb ik een div gebruikt om afbeeldingen naast elkaar te zetten en specifiek deze te bewerken */
.sieraden{
    display: flex;
    justify-content: space-between;
    border-radius: 10%;
    opacity: 30%;
    animation-duration: 1s;
}

.sieraden:hover{
    opacity: 100%;
}

/* Hiermee komen de heading, tekst en afbeelding naast elkaar te staan */
.indelen{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

/* Voor het maken van de forms heb ik instructies van een video gevolgd voor de layout, zie bronnenlijst video's*/
.forms{
    display: flex;
    justify-content: center;
    outline-color: transparent;
    cursor: pointer;
    border-radius: 5%;
    padding: 5%;
    width: 50%;
    background-color: #e6d6ea;
}

form h3{
    color: #523d57;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 1em;
}

form input{
    position: relative;
    outline: transparent;
    background: whitesmoke;
    font-size: 1em;
    margin: 1em;
}

input{
    width: 80%;
    border: 5%;
    color: #AC78B5;
    background: none;
    padding:3%;
}

form button{
    padding: 3%;
    background: #AC78B5;
    color: aliceblue;
    font-size: 1em
}

form button:hover{
    background: #bdacc1;
}

form textarea{
    border-radius: 5%;

}

footer{
    font-family: 'Apple chancery';
    padding: 1em;
    position: relative;
    border: 40%;
    border-style: dotted;
    border-color: black;
    margin: 1em;
    color: black 
    
}

a:visited{
    color: black;
}

a:hover{
    color: white;
    text-decoration: underline;
    transition-duration: 50ms;
}

a:focus{
    color: #AC78B5;
}


figcaption{
   font-family: 'skia-regular';
}

figure{
    max-width: 100%;
}

p{
   font-family: 'skia-regular', arial;
}

@font-face {
    font-family:Apple chancery;
    src: url();
}

@font-face {
    font-family:skia;
    src: url();
}

h1,h2,h3,h4,h5,h6 {
   font-family: 'Apple chancery', sans-serif;
   color: #523d57;
   text-align: center;
}

main{
    margin-left: 2em;
}

ul body{
    margin: 1em;
}

figure{
    display: flex;
    justify-content: center;
    align-items: last baseline;
}

img{
    max-width: 100%;
    height: auto;
}


/* Dit is een card waar de informatie van het kopje feiten in staat. */
.card {
    margin: 5%;
    display: flex;
    justify-content: center;
    background-color: #cec5d1;
    border-radius: 10% 
}

/* hierdoor wordt de forms groter op kleinere devices. */
@media (max-width:850px){
    .forms{
        grid-template-columns: auto;
        width: 70%;
   }
}

@media (max-width: 1200px) {
   /* hierdoor komt de inhoud weer onder elkaar wat beter is voor kleinere devices. flexbox is beter voor grotere formaten*/
   .roze{
    display: block;
   }
   /* Hierbij komt er iets meer ruimte tussen de elementen maar is de opacity ook standaard want hover heeft geen effect bij ipad of mobiel. */
   .sieraden{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10%;
    opacity: 100%;
   }
}
/* Flexbox gaat hierdoor weg waardoor de onderdelen waar onder elkaar gaan staan*/
@media (max-width: 1025px) {
    .indelen{
   display: block;
}

/* wit is voor het deel over bergkristal de achtergrond foto gaat weg zodat deze niet in het tekstvak komt. */
.wit{
    background-image: none;
}
}

/* Dit heb ik aangepast zodat de figcaption ook onder de foto kan komen te staan zoals bij de pagina over de bergkristal*/
figcaption{
    margin-top: 20%;
}

/* Omdat dit de laatste div is die ik heb gebruikt heb ik deze geen class gegeven, de div is specifiek voor de animatie van de afbeelding*/
div{
    display: inline  
}

div{
    animation-duration: 2s;
    animation-name: slide-in;
}

@keyframes slide-in{
    0%{
        margin-right: 100%;
   }
    33%{
        margin-right: 50%;
   }
    100%{
        margin-right: 0%;
   }
}





        


       

        
       

        
            
            

            
              

           
      

          

        


        

     